<section>
  <span *ngFor="let item of [].constructor(260)"></span>
  <div class="container">
    <div class="array">
  
      <div class="content">
        <div class="dashboard">
          <h2>Mes Projets</h2>
            <div style="float: left" *ngFor="let project of projects">
              <div class="card">
                <a [routerLink]="['/project', project.id]">{{ project.name }}</a>
              </div>
  
            </div>
          <div style="clear: left"></div>
          <h2>Mes taches</h2>
            <div style="float: left" *ngFor="let task of tasks">
              <div class="card">
                <a [routerLink]="['/task', task.id]">{{ task.name }}</a>
              </div>
            </div>
          <div style="clear: left"></div>
          <div class="links">
            <a [routerLink]="['/project', 'new']">Créer un nouveau projet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
